<form action="/admin" method="post" id="admin_form">
  <div class="row">
    <div class="medium-6 columns">
      <p>Restaurant Name: <input type="text" name="restaurant[name]" id="restaurant_name"/></p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <p>Restaurant description: <input type="text" name="restaurant[description]" id="restaurant_description"/></p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <p>Restaurant Address: <input type="text" name="restaurant[address]" id="restaurant_address"/></p>
    </div>
  </div>
  <div class="medium-4 columns">
  <input type="submit" value="update_restaurant" class="success button"/>
</form>
