<% if current_user %>
  <form action="/admin" method="post" id="admin_form">
  <div class="row">
    <div class="medium-6 columns">
      <p>Restaurant Name: Flying Fish</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <p>Restaurant description: <input type="text" name="restaurant[description]" id="restaurant_description"/></p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <p>Restaurant Address: <input type="text" name="restaurant[address]" id="restaurant_address"/></p>
    </div>
  </div>
  <div class="medium-4 columns">
  <input type="submit" value="update_restaurant" class="success button"/>
</form>
<a href="/menu">Add/Modify Menu</a>
<%else%>
  <form action="/auth/login" method="post" id="admin_login_form">
    <div class="row">
     <div class="medium-4 columns">
      <p>Username: <input type="text" name="user[username]" id="username"/></p>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <p>Password: <input type="password" name="user[password]" id="password"/></p>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <input type="submit" value="Log in to admin page" class="success button"/>
      </div>
    </div>
  </form>
<%end%>
