<h1>Order confirmation</h1>

<% if @order %>
    <ul>
      <% @order.order_items.each do |item| %>
        <% dish = Dish.first(:id => item.dish_id) %>
          <li>
            <p><%= item.quantity.to_s+ " " +dish.name %></p>
          </li>
      <% end %>
    </ul>
    <p>
      Total price:<%= " " + @order.total_price.to_s + " "%>kr
    </p>
<% else %>
  <p>No dishes in the system</p>
<% end %>
<h1>Thank you for your order!</h1>
