<% if @dishes.any? %>
  <% @dishes.each do |dish| %>
   <h1><%= dish[:name]%></h1>
  <% end %>
<% else %>
  <p>No dishes in the system</p>
<% end %>

<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
   <h1><%= restaurant[:name]%></h1>
   <h1><%= restaurant[:address]%></h1>
   <h1><%= restaurant[:description]%></h1>
  <% end %>
<% end %>
