<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Warden</title>
  </head>
  <body>
    <h1>User authentication</h1>
      <% if current_user %>
      Logged in as <%= current_user.username %>
        <p>
          <a href="/auth/logout">Log Out</a>
        </p>
      <% else %>
        <p>
          <a href="/auth/login">Log In</a>
          <a href="/auth/register">Sign Up</a>
        </p>
      <% end %>
      <% if flash[:success] %>
          <div style="color:green;">
            <%= flash[:success] %>
          </div>
      <% end %>

      <% if flash[:error] %>
          <div style="color:red;">
            <%= flash[:error] %>
          </div>
      <% end %>

      <%= yield %>
  </body>
</html>
