<!DOCTYPE html>
<html>
  <head>
    <title>Slow Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="row">
      <h2>Flying Fish</h2>
        <% if current_user %>
        Logged in as <%= current_user.username %>
          <p>
            <a href="/auth/logout">Log Out</a>
          </p>
        <% else %>
          <p>
            <a href="/auth/login">Log In</a>
            <a href="/auth/register">Sign Up</a>
          </p>
        <% end %>
        <% if flash[:success] %>
            <div style="color:green;">
              <%= flash[:success] %>
            </div>
        <% end %>

        <% if flash[:error] %>
            <div style="color:red;">
              <%= flash[:error] %>
            </div>
        <% end %>

      <%= yield %>
    </div>
    <script src='https://code.jquery.com/jquery-2.1.4.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.js"></script>

  </body>
</html>
